.common-edit-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.common-edit-button,
.common-edit-button span {
    transition: 200ms;
}

.common-edit-text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.common-edit-icon {
    position: absolute;
    border-left: 1px solid #45A049;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common-edit-svgIcon {
    width: 15px;
    fill: #eee;
}

.common-edit-button:hover {
    background: #45A049;
}

.common-edit-button:hover .common-edit-text {
    color: transparent;
}

.common-edit-button:hover .common-edit-icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.common-edit-button:focus {
    outline: none;
}

.common-edit-button:active .common-edit-icon .common-edit-svgIcon {
    transform: scale(0.8);
}
