.CardAllUsers {
    position: relative;
    width: 300px;
  }
  
  .CardAllUsers__photo {
    max-width: 50%;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .CardAllUsers:hover .CardAllUsers__photo {
    display: block;
    opacity: 1;
  }
  
  .CardAllUsers__content {
    padding: 15px;
    background-color: #f1f1f1;
  }
  
  .CardAllUsers__title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .CardAllUsers__description {
    margin: 5px 0;
  }

  