.home-style {
  height: 89vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  flex-wrap: wrap;
}

.background-img-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.studio-img {
  width: 44em;
}

.studio-img img {
  width: 100%;
}

.logo-mala {
  width: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  flex-direction: column;
}

.logo-mala img {
  width: 30em;
}

.text-call-home {
  color: white;
}

.row.reserva-cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calle {
  color: white; 
}

.map {
  width: 27em;
  height: 14em; 
  border-radius: 1em; 
  overflow: hidden; 
}

.mapa a {
  text-decoration: none;
  color: white;
  display: flex;
    justify-content: center;
}

.mapa a:hover {
  text-decoration: underline;
}

.street{
  color: whitesmoke;
  font-size: 1.7em;
}
.text-call-home{
  color: whitesmoke;
  font-size: 3em;
}
@media screen and (max-width: 1250px) {
  .background-img-container {
    flex-direction: column;
  }

  .studio-img,
  .logo-mala {
    width: 100vw;
  }

  .logo-mala img {
    width: 50vw;
  }
}
