.card-appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  height: auto;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  background-color:  rgb(29, 79, 79);
  margin: 3em;
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
}

.card-appointment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nameProduct{
  font-size: 2em;
  margin-top: 0.7em;
}

.card-appointment img {
  border-radius: 1em;
  width: 12em;
  max-width: 20em;
  box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.email-artist-card-appointment{
  margin-bottom: 3em;
}

.card-appointment-info {
  flex: 1;
}

.visible-card-appointment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em;
}

.date-and-shift, .artist_name {
  margin: 0em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-card-appointment, .date-and-shift, .artist_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.button-spoiler {
  width: 4em;
  margin-top: 1em;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0em;
  cursor: pointer;
  border-radius: 0.5em;
}

.card-appointment-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
}

.remove-button {
  text-align: right;
  margin-left: auto;
  margin-left: 5em;
}

.edit-button {
  text-align: left;
  margin-right: auto; 
}

.price-email-card-appointment{
  margin: em;
}