.card-allusers {
  position: relative;
  background-color: black;
  border-radius: 1em;
  border: 0.3em solid rgb(29, 79, 79);
}

.card-alluser-container-photo {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.card-allusers-photo {
  width: 100%;
  max-width: 10em;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.card-allusers:hover .card-allusers-photo {
  opacity: 0.7;
}

.card-allusers__content {
  padding: 0.9375em;
  background-color: rgb(29, 79, 79);
  color: whitesmoke;
}

.card-allusers__title {
  font-size: 2em;
  letter-spacing: 0.2em;
  color: black;
  font-weight: bold;
  margin: 0;
}


.card-allusers__description {
  margin: 0.3125em 0;
}

.card-allusers-photo {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: opacity 0.3s ease-in-out;
}
