@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}

html {
  /* max-width: 1280px; */
  /* overflow-x: hidden;
  overflow-y: hidden; */

  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(29, 79, 79);
  flex-wrap: wrap;
}

#root{
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(29, 79, 79);
  flex-wrap: wrap;
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 0.7em;
  }
  .link-button-style{
    font-size: 1em;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 0.5em;
  }
  .link-button-style{
      font-size: 2em;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 0.33em;
  }
  .link-button-style{
      font-size: 3em;
  }
}