* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* max-width: 1280px; */
  /* overflow-x: hidden;
  overflow-y: hidden; */
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* @media screen and (max-width: 1200px) {
  .card {
    width: calc(50% - 1em);
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 1em);
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: calc(100% - 1em);
  }
} */
